:root {
    --primary-purple: rgb(99, 0, 148);
}

input[type="text"], textarea {
    font-size: 0.9rem;
    display: block;
    width: 30rem;
    min-width: 80%;
    margin: 0.3rem;
    border-radius: 6px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    padding: 0.8rem;
}

label {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-block: 1rem;
}

.submit-post {
    background-color: var(--primary-purple);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0.8rem;
    font-size: 1.3rem;
    width: 60%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.25);
}

    .submit-post:hover {
        cursor: pointer;
        filter: brightness(0.6);
    }

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-inline: auto;
    background: white;
    padding: 0.5rem;
}