.smooth-transition, .button, .primary-button, .search-form input[type="submit"], .secondary-button, .clickable-card, .blog-container .blog {
    -webkit-transition: 180ms ease-in;
    transition: 180ms ease-in;
}

    .smooth-transition:hover, .button:hover, .primary-button:hover, .search-form input:hover[type="submit"], .secondary-button:hover, .clickable-card:hover, .blog-container .blog:hover {
        -webkit-transition: 180ms ease-in;
        transition: 180ms ease-in;
    }

.button, .primary-button, .search-form input[type="submit"], .secondary-button {
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

    .button:hover, .primary-button:hover, .search-form input:hover[type="submit"], .secondary-button:hover {
        cursor: pointer;
    }

.primary-button, .search-form input[type="submit"] {
    border: none;
    background-color: #630094;
    text-decoration: none;
    color: white;
}

    .primary-button:hover, .search-form input:hover[type="submit"] {
        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);
    }

.secondary-button {
    color: #630094;
    background-color: white;
    border: 1px solid #630094;
}

    .secondary-button:hover {
        background-color: #630094;
        color: white;
    }

.card {
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.clickable-card, .blog-container .blog {
    -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

    .clickable-card:hover, .blog-container .blog:hover {
        -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    }

    .info-text, .blog-container .blog .blog-info .info {
        font-size: 0.7rem;
    }

        .info-text:hover, .blog-container .blog .blog-info .info:hover {
            cursor: pointer;
            -webkit-transition: 100ms ease-out;
            transition: 100ms ease-out;
        }

    .content-info, .blog-container .blog .blog-info .title, .blog-container .blog .blog-info .description {
        margin-bottom: 0;
        overflow: hidden;
    }

.search-form {
    margin: 0 0 1rem 10rem;
    width: 50%;
}

@media screen and (max-width: 1000px) {
    .search-form {
        width: 70%;
        margin-inline: auto;
    }
}

.search-form input[type="submit"] {
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    font-size: 1rem;
}

@media screen and (max-width: 1000px) {
    .search-form input[type="submit"] {
        width: 20%;
    }
}

.search-form input[type="text"] {
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid #630094;
    width: 70%;
}

.blog-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: min(800rem, 90%);
    ;
    margin: auto;
}

    .blog-container .blog {
        margin: 0.5rem;
        height: 13rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: white;
        text-decoration: none;
        color: black;
    }

        .blog-container .blog img {
            width: 40%;
            border-radius: 5px 0 0 5px;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .blog-container .blog .blog-info {
            padding: 1rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 60%;
            margin-left: 1rem;
        }

            .blog-container .blog .blog-info .info {
                font-weight: 600;
                color: #2a2aa5;
            }

            .blog-container .blog .blog-info .title {
                font-family: Garamond, serif;
                height: 30%;
                font-weight: 800;
                font-size: 1.1rem;
            }

            .blog-container .blog .blog-info .description {
                font-family: "Open Sans",Helvetica,arial,sans-serif;
                font-size: 0.7rem;
                color: #606060;
            }

.today {
    margin-inline: 10rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Times New Roman', serif;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

@media screen and (max-width: 1000px) {
    .today {
        margin-inline: auto;
        font-size: 1.5rem;
    }
}
/*# sourceMappingURL=index.css.map */