@page
@model RazorBlog.Pages.Blogs.CreateModel

@{
    ViewData["Title"] = "Create Blog";
    ViewData["CSSLink"] = "/css/blogs/createblog.css";
    ViewData["Shared"] = "/css/shared.css";
    ViewData["Script"] = "#";
}

<form class="add-form" method="post" enctype="multipart/form-data">
    <div>
        
        <label asp-for="CreateBlogViewModel.TopicName">Topic</label>
        <input asp-for="CreateBlogViewModel.TopicName" type="text" required>
        <label asp-for="CreateBlogViewModel.Title">Title</label>
        <input asp-for="CreateBlogViewModel.Title" type="text" required>
        <span asp-validation-for="CreateBlogViewModel.Title" class="error-message"></span>
        <label asp-for="CreateBlogViewModel.Description">Description</label>
        <textarea rows="8" cols="50" 
            asp-for="CreateBlogViewModel.Description" 
            required
            type="text"
            placeholder="Description">
        </textarea>
        <span asp-validation-for="CreateBlogViewModel.Description" class="error-message"></span>
        <label asp-for="CreateBlogViewModel.CoverImage"></label>
        <input type="file" asp-for="CreateBlogViewModel.CoverImage" accept=".png,.jpg,.jpeg" multiple>
        <span asp-validation-for="CreateBlogViewModel.CoverImage" class="error-message"></span>
        <label asp-for="CreateBlogViewModel.Content">Content</label>
        <textarea rows="18" cols="50" 
            asp-for="CreateBlogViewModel.Content" 
            required
            placeholder="What do you want to share?" 
            type="text"></textarea><br>
        <span asp-validation-for="CreateBlogViewModel.Content" class="error-message"></span>
    </div>

    <input type="submit" value="Add blog" class="submit-post" />
</form> 
