@page
@model RazorBlog.Pages.Blogs.EditModel

@{
    ViewData["Title"] = "Edit Blog";
    ViewData["CSSLink"] = "/css/blogs/createblog.css";
    ViewData["Shared"] = "/css/shared.css";
    ViewData["Script"] = "#";
}

<form class="add-form" method="post" asp-page-handler="EditBlog" enctype="multipart/form-data">
    <div>
        <label asp-for="EditBlogVM.Title">Title</label>
        <input type="text" name="EditBlogVM.Title" required value="@Model.EditBlogVM.Title">
        <span asp-validation-for="EditBlogVM.Title" class="error-message"></span>

        <label asp-for="EditBlogVM.Description">Description</label>
        <textarea rows="8" cols="50"
                name="EditBlogVM.Description"
                required>@Model.EditBlogVM.Description</textarea>
        <span asp-validation-for="EditBlogVM.Description" class="error-message"></span>

        <label asp-for="EditBlogVM.CoverImage"></label>
        <input type="file" asp-for="EditBlogVM.CoverImage" accept=".png,.jpg,.jpeg" multiple>
        <span asp-validation-for="EditBlogVM.CoverImage" class="error-message"></span>
        
    </div>
    <br>
    <textarea rows="18" cols="50"
            name="EditBlogVM.Content"
            required>@Model.EditBlogVM.Content</textarea>
    <span asp-validation-for="EditBlogVM.Content" class="error-message"></span>
    <input type="hidden" value="@Model.EditBlogVM.Id" asp-for="EditBlogVM.Id" />
    <input type="submit" value="Save changes" class="submit-post" />
</form>
